<html>
  <head>
    <style></style>
  </head>
  <body>
    <p style="text-transform: capitalize">Hi {{name}},</p>
    <p>Here is your email verification code</p>
    <h1>{{emailVerificationCode}}</h1>
</body>
</html>