<html>
  <head>
    <style>

    </style>
  </head>
  <body>
    <p style="text-transform: capitalize">Hi {{name}},</p>
    <p>Welcome to your new account</p>
    <p>Your email verification code is</p>
    <h1>{{emailVerificationCode}}</h1>
  </body>
</html>